
* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #2d3c49;
}

hr {
	margin-top: 0px;
	height: 5px;
	color: #7d97ad;
	background-color: #7d97ad;
	border: none;
}

h1 {
	font-size: 6vw;
	font-weight: 100;
	text-transform: uppercase;
	text-align: right;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
h3 {
	font-size: 3vw;
}

h5 {
	font-size: 30px;
}

h4 {
	font-size: 3vw;
	text-transform: uppercase;
	text-align: right;
	margin-top: 0px;
}

a:link {
	color: #2d3c49;
	text-decoration: none;
	font-size: 10px;
}

.title-logo {
	vertical-align: middle;
	margin-top: 10%;
}

.no-margin {
	margin: 0px;
}

.img-centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog {
	text-align: center;
}

.portfolio {
	text-align: center;
	margin-bottom: 40px;
}

.modal-body {
	font-size: 15px;
}

.modal-dialog {
	text-align: center;
}

.portfolio-mobile {
	text-align: center;
}

.portfolio-mobile-portrait{
	text-align: center;
	}

.portfolio-mobile-landscape{
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#header {
	margin-top: 20px;
}

#text-muted {
	color: #7d97ad;
	font-size: 5vw;
	margin-top: 20px;
	margin-bottom: 10px;
}

/*Apply this only on mobile and tablet devices:*/
@media only screen and (max-width:900px){
     hr {height:1px};
}

/*Apply this only on mobile landscape mode:*/
.portfolio-mobile-landscape {display: none;}

@media (max-width: 768px) and (orientation:landscape) {
    .portfolio-mobile-landscape {
        display:block;
    }
    .portfolio-mobile-portrait {
    	display: none;
    }
}