
/** {
   outline: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*@media only screen and (max-width: 800px){
	#additional-info {display: none;}
}*/

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #2d3c49;
}
/*@media only screen and (max-width:900px){
     .text-title {font-size:1px};
  }*/




/*.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}*/

h1 {
	font-size: 60pt;
	font-weight: 100;
	text-transform: uppercase;
	text-align: right;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	font-size: 40px;
	text-transform: uppercase;
	text-align: right;
	margin-top: 0px;
}
#text-muted {
	color: #7d97ad;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 10px;

}

#left-image {
	margin-left: 0px
}

#right-image {
	margin-right: 0px
}

#portfolio-text-left {
	margin-right: 90px;
}

#portfolio-text-right {
	margin-left: 90px;
}

.title-logo {
	margin-top: 20px;
}

.no-margin {
	margin: 0px;
}

.img-centered {display: block;
    margin-left: auto;
    margin-right: auto;}

.modal-dialog {text-align: center}

a:link {
	color: #2d3c49;
	text-decoration: none;
	font-size: 10px;
}
.portfolio {
	text-align: center;
	margin-bottom: 40px;
}

h3 {
	font-size: 30px;
}

h5 {
	font-size: 30px;
}

hr {
	margin-top: 0px;
	height: 5px;
	color: #7d97ad;
	background-color: #7d97ad;
	border: none;
}
.modal-body {
	font-size: 15px
}

.modal-dialog {text-align: center;}

#featured-work {
	margin-top: 20px;
	margin-bottom: 10px
}

/*Apply this only on mobile and tablet devices:*/
@media only screen and (max-width:900px){
     hr {height:1px};
}


 /*Apply this only on mobile portrait view:*/
 @media only screen and (max-width:768px){
     h1 {
     	font-size: 9vw
     }
     h2 {
     	font-size: 30px;
     	margin-bottom: 10px;
     }
     h3 {
     	text-align: center;
     	font-size: 25px;
     	margin-bottom: 0px;
     }
     h4 {
     	font-size: 20px;
     }
.modal-title {font-size: 7vw;}
     }
	#text-muted {
     	text-align: center
     }
}

/*Apply this only on mobile and tablet devices:*/
@media only screen and (max-width:600px) and (orientation:landscape){
     body {display:none};
}