
/*
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.row {
	width: 100%;
	display: flex;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}



.title {
	background-color: #33bebe
}


.app {
	display: -webkit-flex;
	display: flex;
}

.description {
	color: green;
	margin-left: 20px;
}

.screenshot {
	max-width: 460px
}


*/


